---
title: Home
layout: upj_mainpage
---

<div class="slider_container">
{% for p in site.frontpages %}
  <div class="slider_inner" style="background-image: url('{{ p.image }}');">
    <!-- <div class="title">{{ p.index }}</div> -->
    <div class="content">{{ p.content }}</div>
  </div>
{% endfor %}
</div>

<div class="btn">
  <i class="fa-regular fa-circle-left" id="btn_left"></i>
  <i class="fa-regular fa-circle-right" id="btn_right"></i>
</div>

<!--
<ul>
{% for p in site.frontpages %}
  <li>
    <h3>{{ p.name }}</h3>
    <p>{{ p.content }}</p>
  </li>
{% endfor %}
</ul>
-->