<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/icons/home-icon.ico"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <title>{% if page.title == 'Home' %}Home{% else %}UPJ{%endif%}</title>

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-toc.min.css">
  <!--<link rel="stylesheet" href="/assets/css/docsearch.min.css">-->

  <link href="/assets/css/global.css" rel="stylesheet">

  {% if page.title == 'Home' or page.title == '404 Not Found' %}
  <link href="/assets/css/homepage.css" rel="stylesheet">
  {% else %}
  <link href="/assets/css/page.css" rel="stylesheet">
  {% endif %}

  <!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->

  <!--https://afeld.github.io/bootstrap-toc/#layout-->
  <script defer src="/assets/javascript/jquery-3.5.1.slim.min.js"></script>
  <script defer src="/assets/javascript/bootstrap.bundle.min.js"></script>
  <script defer src="/assets/javascript/bootstrap-toc.min.js"></script>
  <script defer src="https://kit.fontawesome.com/eaa55c88d8.js" crossorigin="anonymous"></script>
  <!--<script defer src="/assets/javascript/solid.min.js"></script>-->
  <!--<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>-->
</head>