#mainpage {
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.slider_container {
  width: 500vw;
  transition: transform .5s;
}

.slider_inner {
  width: 100vw;
  height: 90vh;
  background-color: red;
  float: left;
  object-fit: cover;
  object-position: center;
  text-align: center;
}

.content {
  margin-top: 20px;
}

.btn {
  width: 100px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 50px);
  background-color: brown;
  display: flex;
  justify-content: space-between;
}
