---
---

@import "main";

.upj-nav {
  font-size: .9rem;
  background: #FF7C36;
}

/* css for the sidebar */
/* https://afeld.github.io/bootstrap-toc/ */

nav[data-toggle='toc'] {
  padding-top: 28px;
}

nav[data-toggle='toc'] .nav > li > a:hover,
nav[data-toggle='toc'] .nav-link.active,
nav[data-toggle='toc'] .nav-link.active:focus,
nav[data-toggle='toc'] .nav-link.active:hover,
nav[data-toggle='toc'] .nav > li > a:focus {
  color: #FF7C36;
  border-left: 1px solid #FF7C36;
}
nav[data-toggle='toc'] .nav > .active > a,
nav[data-toggle='toc'] .nav > .active:hover > a,
nav[data-toggle='toc'] .nav > .active:focus > a {
  color: #FF7C36;
  border-left: 2px solid #FF7C36;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }
}

.site-footer {
  padding-top: 35px;
  padding-bottom: 20px;
  margin-top: 100px;
  color: #99979c;
  background-color: #dbdbdb;

  a {
    color: #99979c;
  }

  a:hover {
    color: #11119c;
    text-decoration: underline;
  }
}