<!doctype html>
<html lang="en">

{% include upj_head.html %}

<body data-spy="scroll" data-target="#toc">

{% include upj_nav.html %}

<div class="container" style="top: 90px; ">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-12 col-md-9">
      {{ content }}
    </div>
    <div class="col-md-3 d-none d-md-block" id="sidebar">
      <nav id="toc" data-toggle="toc" class="sticky-top" style="z-index:1; top:20px; "></nav>
    </div>
  </div>
</div>

{% include upj_footer.html %}

</body>
</html>