<!doctype html>
<html lang="en">

{% include head.html %}

<body>

{% include navbar.html %}  

<!-----Content----->
<div id="mainpage">
{{ content }}
</div>

{% if page.title == 'Home' %}
<script>
  const maxSize = 5;
  let idx = 0;
  document.querySelector('#btn_left').addEventListener('click', function() {
    if(idx < maxSize - 1) {
      idx++;
      document.querySelector('.slider_container').style.transform = `translate(${-idx*100}vw)`;
      // console.log(`idx=${idx}`);
      // console.log(-idx*100);
    }
  });
  document.querySelector('#btn_right').addEventListener('click', function() {
    if(idx > 0) {
      idx--;
      // console.log(`idx=${idx}`);
      // console.log(-idx*100);
      document.querySelector('.slider_container').style.transform = `translate(${-idx*100}vw)`;
    }
  });
</script>
{% endif %}

{% include footer.html %}

</body>
</html>
